@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --azul1: #5383e8;
  --azul2: #375db1;
  --rojo1: #f44336;
  --rojo2: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main {
  background-color: var(--color2);
}

html {
  font-size: 13.5px;
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, select, button {
  font-size: 10.5px;
  padding: 6px;
  border-radius: 4px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.toast-question {
  text-align: right;
  font-weight: bold;
}

.toast-button-confirmed {
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--azul1);
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-left: 70px;
  margin-right: -20px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.toast-button-confirmed:hover {
  background-color: var(--azul2);
  transition: all 0.3s ease-in-out;
}  

.toast-button-delete {
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--rojo1);
  color: whitesmoke;
  border: none;
  margin-left: 30px;
  margin-right: 70px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.toast-button-delete:hover {
  background-color: var(--rojo2);
  transition: all 0.3s ease-in-out;
}  

.w-full.h-full {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.icon-style-components {
  margin: 0px;
  font-size: 15px;
}

.header-comp {
  background-color: rgba(31, 30, 68);
  color: whitesmoke;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
}

.title-comp {
  font-size: 1.875rem;
  font-weight: bold;
}

.form-comp {
  font-weight: bold;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: whitesmoke;
}

.input-container {
    position: relative;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: rgb(31, 30, 68);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group label {
    position: absolute;
    top: 45%;
    left: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(31, 30, 68);
    padding: 0 5px;
    font-size: 15px;
    transition: 0.3s;
    pointer-events: none;
}


.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
    top: -5px;
    left: 0px;
    font-size: 11px;
    color: whitesmoke;
}

.sub-titles-copm {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: whitesmoke
}

.text-sm.font-medium.leading-none.peer-disabled:cursor-not-allowed.peer-disabled:opacity-70 {
  font-size: 0.875rem;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-bottom: 0.5rem;
}

.card {
  background-color: rgba(31, 30, 68);
  border-radius: 3rem;
  padding: 3rem;
  
}

.card label {
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 10px;
  
}

.card input,
.card select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);
  
}

.card input:focus,
.card select:focus {
  box-shadow: 0 0 0 2px var(--azul1);
  outline: none;
}

.card button {
  width: 40%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 30%;
  margin-top: 40px;
}

.card button:hover {
  background-color: var(--azul2);
}

.card button[type="submit_2"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-top: 20px;
}

.card button[type="submit_2"]:hover {
  background-color: var(--azul2);
}

.card button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.card button[type="button"]:hover {
  background-color: var(--rojo2);
}

.edit-button {
  align-items: center;
  background-color: var(--azul1);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.3rem;
  margin-left: 1rem;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.delete-button {
  align-items: center;
  background-color: var(--rojo1);
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.3rem;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

.edit-button:hover {
  background-color: var(--azul2);
}

.delete-button:hover {
  background-color: var(--rojo2);
}

/*CSS TABLAS*/

.table-card {
  overflow: hidden;
  color: whitesmoke;
}

.table-card table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  border-radius: 1rem;
  overflow: hidden;
}

.table-card table th,
.table-card table td {
  padding: 0.3rem;
  background-color: rgb(45, 43, 104);
}

.table-card table td {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.table-card table th {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.table-card table {
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
}

.table-card table tbody td {
  text-align: center;
}

.table-card table tr:nth-child(odd) td {
  background-color: rgb(43, 41, 88);
}

/* CSS para las search bar */

.search-bar {
  display: grid;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  gap: 20px;
  grid-auto-flow: column;
}

.search-bar input,
.search-bar select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: -0.3rem;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: rgb(45, 43, 104);
  color: whitesmoke;
}

.search-bar input:focus,
.search-bar select:focus {
  border: 2px solid var(--azul1);
  outline: none;
  color: whitesmoke;
}

.card button[type="submit_3"] {
  width: 3%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 0%;
  margin-top: -10px;
}

.icon-style-modal {
  font-size: 20px;
  align-items: center;
}

.open-modal-button {
  width: 5%;
  background-color: #5383E8;
  color: whitesmoke;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: -10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.open-modal-button:hover {
  background-color: #395ead;
  transition: all 0.3s ease-in-out;
}

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Modal styles */

.card-modal {
  background-color:  rgba(31, 30, 68);
  border-radius: 1.5rem;
  padding: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.3s forwards;
}

.modal-content {
  background: rgb(22, 22, 54);
  padding: 20px;
  border-radius: 40px;
  position: relative;
  max-width: 1000px;
  max-height: 700px;
  width: 90%;
  height: 27%;
  animation: slideIn 0.3s forwards;
  text-align: center;
  padding-left: 3rem;
  padding-right: 3rem;

}

.modal-content h2 {
  color: whitesmoke;
  margin-bottom: 20px;

}

.modal-content .form-group {
  margin-bottom: 20px;
}

.modal-content .form-group label {
  color: whitesmoke;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 10.5px;
}

.modal-content .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(22, 22, 54);
  color: whitesmoke;
  font-size: 11.5px;
  margin-bottom: 15px;
}

.modal-content button[type="submit"] {
  background-color: #5383E8;
  color: whitesmoke;
}

.modal-content button[type="button"] {
  background-color: #f44336;
  color: whitesmoke;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideIn {
  from { transform: translateY(-20px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card-grid {
  margin-left: 300px;
  margin-top: 50px;
  background-color: rgba(31, 30, 68);
  border-radius: 3rem;
  padding: 3rem;
  width: 100%; /* Ajusta esto según sea necesario */
  max-width: 1000px;
}

.card-grid label {
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 10px;
  
}

.card-grid input,
.card-grid select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);
  
}

.card-grid input:focus,
.card-grid select:focus {
  box-shadow: 0 0 0 2px var(--azul1);
  outline: none;
}

.card-grid button {
  width: 40%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 30%;
  margin-top: 40px;
}

.card-grid button:hover {
  background-color: var(--azul2);
}

.card-grid button[type="submit_2"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-top: 20px;
}

.card-grid button[type="submit_2"]:hover {
  background-color: var(--azul2);
}

.card-grid button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.card-grid button[type="button"]:hover {
  background-color: var(--rojo2);
}

.grid-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container label {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: whitesmoke;
  padding: 0 5px;
  font-size: 11px;
  transition: 0.3s;
  pointer-events: none;
}

.grid-container input:focus+label,
.grid-container input:not(:placeholder-shown)+label {
  top: -10px;
  left: 0px;
  font-size: 11px;
  color: whitesmoke;
}
