@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --azul1: #5383e8;
  --azul2: #375db1;
  --rojo1: #f44336;
  --rojo2: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main {
  background-color: var(--color2);
}

html {
  font-size: 13.5px;
}

body {
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
button {
  font-size: 10.5px;
  padding: 6px;
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.toast-question {
  text-align: right;
  font-weight: bold;
}

.toast-button-confirmed {
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--azul1);
  color: whitesmoke;
  border: none;
  cursor: pointer;
  margin-left: 70px;
  margin-right: -20px;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.toast-button-confirmed:hover {
  background-color: var(--azul2);
  transition: all 0.3s ease-in-out;
}

.toast-button-delete {
  margin: 5px;
  padding: 5px 10px;
  background-color: var(--rojo1);
  color: whitesmoke;
  border: none;
  margin-left: 30px;
  margin-right: 70px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.toast-button-delete:hover {
  background-color: var(--rojo2);
  transition: all 0.3s ease-in-out;
}

.w-full.h-full {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

.icon-style-components {
  margin: 0px;
  padding: 0px 0px;
  font-size: 15px;
  align-items: center;
}

.header-comp {
  border-radius: 25px;
  background: linear-gradient(145deg, #212049, #1c1b3d);
  box-shadow:  19px 19px 38px #1b1a3c,
               -19px -19px 38px #23224c;
  color: whitesmoke;
  padding: 1rem 1.5rem;
}

.title-comp {
  font-size: 1.875rem;
  font-weight: bold;
}

.form-comp {
  font-weight: bold;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: whitesmoke;
}

.input-container {
  position: relative;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  color: rgb(31, 30, 68);
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group label {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgb(31, 30, 68);
  padding: 0 5px;
  font-size: 15px;
  transition: 0.3s;
  pointer-events: none;
}


.form-group input:focus+label,
.form-group input:not(:placeholder-shown)+label {
  top: -5px;
  left: 0px;
  font-size: 11px;
  color: whitesmoke;
}

.sub-titles-copm {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: whitesmoke
}

.text-sm.font-medium.leading-none.peer-disabled:cursor-not-allowed.peer-disabled:opacity-70 {
  font-size: 0.875rem;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-bottom: 0.5rem;
}

.card {
  border-radius: 45px;
  background: #1f1e44;
  box-shadow: inset 33px 33px 65px #1b1a3c,
              inset -33px -33px 65px #23224c;
  padding: 3rem;

}

.card label {
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 10px;

}

.card input,
.card select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);

}

.card input:focus,
.card select:focus {
  box-shadow: 0 0 0 2px var(--azul1);
  outline: none;
}

.card button {
  width: 40%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 30%;
  margin-top: 40px;
}

.card button:hover {
  background-color: var(--azul2);
}

.card button[type="submit_2"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30%;
  margin-right: 10px;
}

.card button[type="submit_2"]:hover {
  background-color: var(--azul2);
}

.card button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.card button[type="button"]:hover {
  background-color: var(--rojo2);
}

.edit-button {
  align-items: center;
  background-color: var(--azul1);
  color: #fff;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: -5.8rem;
  margin-left: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-button {
  align-items: center;
  background-color: var(--rojo1);
  color: #fff;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.liquidar-button {
  align-items: center;
  background-color: #e68046;
  color: #fff;
  padding: 0.2rem 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-button:hover {
  background-color: var(--azul2);
}

.delete-button:hover {
  background-color: var(--rojo2);
}

.liquidar-button:hover {
  background-color: #d6763e;
}

/*CSS TABLAS*/

.table-card {
  overflow: hidden;
  color: whitesmoke;
  font-weight: normal;
}

.table-card table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  border-radius: 2rem;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
}

.table-card table th,
.table-card table td {
  padding: 2px;
  background-color: rgb(45, 43, 104);
  transition: background-color 0.3s;
}

.table-card table tbody td {
  text-align: center;
}

.table-card table tr:nth-child(odd) td {
  background-color: rgb(43, 41, 88);
}

.table-card table tr:hover td {
  background-color: rgb(37, 35, 85);
}

/* CSS TABLAS EMPLEADO */

.table-card-empleados {
  overflow: hidden;
  color: whitesmoke;
  font-weight: normal;
}

.table-card-empleados table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  border-radius: 2rem;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
}

.table-card-empleados table th,
.table-card-empleados table td {
  padding: 2px;
  background-color: rgb(45, 43, 104);
  transition: background-color 0.3s;
}

.table-card-empleados table tbody td {
  text-align: center;
}

.table-card-empleados table tr:nth-child(odd) td {
  background-color: rgb(43, 41, 88);
}

.table-card-empleados table tr:hover td {
  background-color: rgb(37, 35, 85);
  cursor: pointer;
}

.estado-activo {
  color: whitesmoke;
  background-color: #71d474a1;
  /* Verde claro */
  padding: 5px 10px;
  border-radius: 11px;
  font-weight: bold;
  font-size: 9px;
  display: inline-block;
}

.estado-inactivo {
  color: whitesmoke;
  background-color: #f44336be;
  padding: 5px 10px;
  border-radius: 11px;
  font-size: 9px;
  font-weight: bold;
  display: inline-block;
}

/* CSS para las search bar */

.search-bar {
  display: grid;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  gap: 20px;
  grid-auto-flow: column;
}

.search-bar input,
.search-bar select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: -0.3rem;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: rgb(45, 43, 104);
  color: whitesmoke;
  transition: all 0.4s ease;
}

.search-bar input:focus,
.search-bar select:focus {
  border: 2px solid var(--azul1);
  outline: none;
  color: whitesmoke;
}

.search-bar select:hover,
.search-bar input:hover {
  margin: -5px;
  padding: 13px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease;
}

.search-bar-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: -1.8rem;
  margin-left: 900px;
  gap: 1rem;
}

.search-bar-2 input,
.search-bar-2 select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: -1rem;
  margin-top: -1rem;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: rgb(45, 43, 104);
  color: whitesmoke;
  transition: all 0.4s ease;
}

.search-bar-2 input:focus,
.search-bar-2 select:focus {
  border: 2px solid var(--azul1);
  outline: none;
  color: whitesmoke;
}

.search-bar-2 select:hover, 
.search-bar-2 input:hover {
  margin: -5px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease;
}

.card button[type="submit_3"] {
  width: 3%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 0%;
  margin-top: -10px;
}

.icon-style-modal {
  font-size: 15px;
  align-items: center;
  margin-left: -2px;
}

.icon-style-modal-2 {
  font-size: 15px;
  align-items: center;
  margin-left: -8px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.icon-style-pdf {
  font-size: 16px;
}

.open-PDF-button {
  background-color: #e87653;
  color: whitesmoke;
  padding: 7px 10px;
  margin-bottom: -10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.open-PDF-button:hover {
  background-color: #db6845;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.3s ease-in-out;
}

.open-PDF-button-2 {
  background-color: #e87653;
  color: whitesmoke;
  padding: 7px 10px;
  margin-top: -30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.open-PDF-button-2:hover {
  background-color: #db6845;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.3s ease-in-out;
}

.open-modal-button {
  width: 5%;
  background-color: #5383E8;
  color: whitesmoke;
  padding: 10px 10px;
  margin-right: 10px;
  margin-bottom: -10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.open-modal-button:hover {
  background-color: #395ead;
  margin: 0.2px;
  padding: 10px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.3s ease-in-out;
}

.open-modal-button-2[type="button_2"] {
  width: 3%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 0%;
  margin-top: -10px;
  transition: all 0.3s ease-in-out;
}

.open-modal-button-2[type="button_2"]:hover {
  background-color: rgb(45, 43, 104);
  margin: 6px;
  margin-bottom: 15px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.3s ease-in-out;
}

.open-modal-button-3[type="button_3"] {
  width: 3%;
  padding: 0.75rem 1rem;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  margin-top: 0%;
  margin-bottom: 10px;
  left: 0%;
  transition: all 0.3s ease-in-out;
}

.open-modal-button-3[type="button_3"]:hover {
  background-color: rgb(45, 43, 104);
  margin-top: 0%;
  margin-bottom: auto;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.3s ease-in-out;
}

.modal-content button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 0px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* Modal styles */

.card-modal {
  background-color: rgba(31, 30, 68);
  border-radius: 1.5rem;
  padding: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.modal-overlay.visible {
  opacity: 1;
  visibility: visible;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal-content-2 {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(31, 30, 68, 0.61);
  backdrop-filter: blur(10px);
  /* Efecto de desenfoque */
  padding: 20px;
  border-radius: 25px;
  width: 80%;
  height: 80%;
  max-width: 900px;
  max-height: 300px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation: enterAnimation 0.5s ease forwards;
  font-family: "Poppins", sans-serif;
}

.modal-content-2.exiting {
  animation: exitAnimation 0.5s ease forwards;
}

.modal-content-2 h2 {
  color: whitesmoke;
  margin-bottom: 20px;
}

.modal-content-2 .form-group {
  margin-bottom: 30px;
}

.modal-content-2 .form-group label {
  color: whitesmoke;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 10.5px;
}

.modal-content-2 input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background-color: rgb(22, 22, 54);
  color: whitesmoke;
  font-size: 11.5px;
  margin-bottom: 15px;
}

.modal-content-2 button[type="submit"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-top: 20px;
}

.modal-content-2 button[type="submit"]:hover {
  background-color: var(--azul2);
}

.modal-content-2 button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.modal-content-2 button[type="button"]:hover {
  background-color: var(--rojo2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card-grid {
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 45px;
  background: #1f1e44;
  box-shadow: inset 33px 33px 65px #1b1a3c,
              inset -33px -33px 65px #23224c;
  border-radius: 3rem;
  padding: 3rem;
  width: 100%;
  /* Ajusta esto según sea necesario */
  max-width: 1000px;
}

.card-grid label {
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 0.1rem;
  font-size: 10px;

}

.card-grid input,
.card-grid select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);

}

.card-grid input:focus,
.card-grid select:focus {
  box-shadow: 0 0 0 2px var(--azul1);
  outline: none;
}

.card-grid button {
  width: 40%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  left: 30%;
  margin-top: 40px;
}

.card-grid button:hover {
  background-color: var(--azul2);
}

.card-grid button[type="submit_2"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--azul1);
  color: white;
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30%;
  margin-right: 10px;
  margin-top: 20px;
}

.card-grid button[type="submit_2"]:hover {
  background-color: var(--azul2);
}

.card-grid button[type="button"] {
  width: 20%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 10.5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  left: 30%;
  margin-top: 20px;
}

.card-grid button[type="button"]:hover {
  background-color: var(--rojo2);
}

.grid-container input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(45, 43, 104);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  font-size: 11px;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background-color: rgb(45, 43, 104);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-container label {
  position: absolute;
  top: 45%;
  left: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  color: whitesmoke;
  padding: 0 5px;
  font-size: 11px;
  transition: 0.3s;
  pointer-events: none;
}

.grid-container input:focus+label,
.grid-container input:not(:placeholder-shown)+label {
  top: -10px;
  left: 0px;
  font-size: 11px;
  color: whitesmoke;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.detalle-empleado-card {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(31, 30, 68, 0.61);
  backdrop-filter: blur(10px);
  /* Efecto de desenfoque */
  padding: 20px;
  border-radius: 40px;
  width: 80%;
  height: 80%;
  max-width: 450px;
  max-height: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: enterAnimation 0.5s ease forwards;
  font-family: "Poppins", sans-serif;
}

.detalle-empleado-card.exiting {
  animation: exitAnimation 0.5s ease forwards;
}

.detalle-empleado-card h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
}

.detalle-empleado-card p,
.detalle-empleado-card li {
  margin: 0.8rem 70px;
  margin-left: 95px;
}

.detalle-empleado-card ul {
  list-style: none;
  padding: 0;
}

.detalle-empleado-card li {
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem 0;
}

.detalle-empleado-card strong {
  display: inline-block;
  width: 100px;
}

.detalle-empleado-card button {
  display: block;
  margin: 1rem auto 0;
  margin-top: 70px;
  padding: 0.5rem 1rem;
  background-color: var(--rojo1);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detalle-empleado-card button:hover {
  background-color: var(--rojo2);
}

.detalle-card-container {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}

.detalle-nomina-card {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(31, 30, 68, 0.61);
  backdrop-filter: blur(10px);
  /* Efecto de desenfoque */
  padding: 20px;
  border-radius: 40px;
  width: 80%;
  height: 80%;
  max-width: 450px;
  max-height: 700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: enterAnimation 0.5s ease forwards;
  font-family: "Poppins", sans-serif;
}

.detalle-nomina-card.exiting {
  animation: exitAnimation 0.5s ease forwards;
}

.detalle-nomina-card h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
}

.detalle-nomina-card p,
.detalle-nomina-card li {
  margin: 0.8rem 70px;
  margin-left: 95px;
}

.detalle-nomina-card ul {
  list-style: none;
  padding: 0;
}

.detalle-nomina-card li {
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem 0;
}

.detalle-nomina-card strong {
  display: inline-block;
  width: 100px;
}

.detalle-liquidacion-card {
  overflow: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(31, 30, 68, 0.61);
  backdrop-filter: blur(10px);
  /* Efecto de desenfoque */
  padding: 20px;
  border-radius: 40px;
  width: 80%;
  height: 82%;
  max-width: 450px;
  max-height: 800px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: enterAnimation 0.5s ease forwards;
  font-family: "Poppins", sans-serif;
}

.detalle-liquidacion-card.exiting {
  animation: exitAnimation 0.5s ease forwards;
}

.detalle-liquidacion-card h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
}

.detalle-liquidacion-card p,
.detalle-liquidacion-card li {
  margin: 0.8rem 70px;
  margin-left: 95px;
}

.detalle-liquidacion-card ul {
  list-style: none;
  padding: 0;
}

.detalle-liquidacion-card li {
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem 0;
}

.detalle-liquidacion-card strong {
  display: inline-block;
  width: 100px;
}

.cerrar-button {
  display: block;
  margin: 1rem auto 0;
  margin-top: 30px;
  padding: 0.5rem 1rem;
  background-color: var(--rojo1);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cerrar-button:hover {
  background-color: var(--rojo2);
}

.detalle-liquidacion-container {
  display: flex;
  justify-content: space-between;
  margin-top: -40px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style: none;
}

.pagination li {
  margin: 0 0.25rem;
  margin-top: -5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border-radius: 10px;
  color: var(--azul1);
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.pagination li a:hover {
  background-color: var(--azul2);
  color: whitesmoke;
}

.pagination .active a {
  background-color: var(--azul1);
  color: whitesmoke;
}

.pagination .break-me {
  cursor: default;
}

.icon-style-pagination {
  margin: 0px;
  padding: 0px 0px;
  font-size: 10px;
  font-weight: bold;
  align-items: center;
}


@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes exitAnimation {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
}