.dashboard-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
}

.card-detalle {
  font-weight: bold;
  color: var(--text-color);
}

.filtro-dashboard-1 {
  width: 100%;
  background-color: rgb(45, 43, 104);
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 45px;
  margin-top: -5px;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
}

.search-bar-2-dashboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0px;
  margin-left: auto;
  gap: 1rem;
}

.search-bar-2-dashboard select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid rgb(31, 30, 68);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  margin-bottom: -1rem;
  margin-top: -1rem;
  font-size: 0.8rem;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  background-color: rgb(31, 30, 68);
  color: whitesmoke;
  transition: all 0.4s ease;
}

.search-bar-2-dashboard select:hover {
  margin: 8px;
  padding: 13px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease;
}

.card-dashboard-1 {
  background: linear-gradient(to bottom right, #1E2736, #1D4E89);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.card-dashboard-2 {
  background: linear-gradient(to bottom right, #2C2A4A, #4F518C);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: center;
}

.card-dashboard-3 {
  background: linear-gradient(to bottom right, #0471A6, #061826);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  padding: 20px;

  text-align: center;
}

.card-dashboard-detalle {
  background: linear-gradient(to bottom, #911919, #881a1a);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-out;
}

.card-dashboard-detalle-1 {
  background: linear-gradient(to bottom right, #1E2736, #2E294E);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease-out;
}


.card-dashboard-detalle-2 {
  background: linear-gradient(to bottom, #1A74CF, #5E8FD7);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 250px;
  height: 150px;
  padding: 20px;
  text-align: center;
  transition: all 0.4s ease-out;
}

.card-dashboard-detalle:hover {
  margin: 10px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease;
}

.card-dashboard-detalle-1:hover {
  margin: 10px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease;
}

.card-dashboard-detalle-2:hover {
  margin: 10px;
  padding: 30px;
  box-shadow: 0 20px 40px rgba(121, 121, 121, 0.137);
  transition: all 0.4s ease-out;
}

.card-container-2 {
  width: 100%;
  display: flex;
  flex-wrap: nowrap; /* Asegura que las tarjetas no se envuelvan */
  justify-content: space-between; /* Distribuye el espacio entre las tarjetas */
  gap: 10px; /* Espacio entre las tarjetas */
}

.card-dashboard-detalle-3 {
  background: linear-gradient(to bottom, #1d123a, #714cb1);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  text-align: left;
  margin-left: auto;
}

.card-dashboard-detalle-4 {
  background: linear-gradient(to bottom, #7ba0d6, #1d3977);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-top: auto;
}

.card-icon {
  font-size: 60px;
  margin-bottom: 10px;
  margin-left: -150px;
  color: whitesmoke;

}

.card-icon-2 {
  font-size: 60px;
  margin-bottom: 0px;
  margin-left: -300px;
  color: whitesmoke;

}

.card-icon-3 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-left: -300px;
  color: whitesmoke;

}

.card-info h3 {
  margin-left: 40px;
  font-size: 12px;
  color: whitesmoke
}

.card-info p {
  margin-top: -85px;
  margin-left: 60px;
  font-size: 17px;
  font-weight: bold;
  color: whitesmoke
}

.card-info-2 h3 {
  margin-left: -5px;
  font-size: 18px;
  color: whitesmoke
}

.card-info-2 li {
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke
}

.card-info-2 p {
  margin-top: -80px;
  margin-left: -10px;
  font-size: 17px;
  font-weight: bold;
  color: whitesmoke
}

.card-info-3 h3 {
  margin-left: -90px;
  font-size: 14px;
  color: whitesmoke
}

.card-info-3 p {
  margin-top: -65px;
  margin-left: -90px;
  font-size: 12px;
  font-weight: bold;
  color: whitesmoke
}

.chart-info p {
  margin-top: -10px;
  margin-left: -10px;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke
}

.chart-info-2 p {
  margin-bottom: 120px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke
}

.chart-info-3 p {
  margin-bottom: -60px;
  margin-left: 50px;
  font-size: 30px;
  font-weight: bold;
  color: whitesmoke
}

.charts-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card-dashboard-chart-1 {
  border: 1px solid var(--color2);
  background-color: var(--color1);
  border-radius: 70px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 41rem;
  margin-top: -10px;
  padding: 20px;
  text-align: center;
}

.card-dashboard-chart-11 {
  border: 1px solid var(--color2);
  background-color: var(--color1);
  border-radius: 70px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 41rem;
  margin-top: 20px;
  padding: 20px;
  text-align: left;
}

.card-dashboard-chart-2 {
  border: 1px solid var(--color2);
  background-color: var(--color1);
  border-radius: 70px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 41rem;
  margin-top: -10px;
  padding: 20px;
  text-align: center;
}

.card-dashboard-chart-22 {
  border: 1px solid var(--color2);
  background-color: var(--color1);
  border-radius: 70px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 49%;
  height: 41rem;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

/* modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-content h2 {
  margin-top: 0;
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content li {
  margin-bottom: 10px;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.overlay.visible {
  opacity: 1;
  visibility: visible;
}

.detalle-card {
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgba(31, 30, 68, 0.61);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  height: 82%;
  max-width: 450px;
  max-height: 1000px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: enterAnimation 0.5s ease forwards;
  font-family: "Poppins", sans-serif;
}

@keyframes enterAnimation {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }

  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

@keyframes exitAnimation {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  to {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
}

.detalle-card.exiting {
  animation: exitAnimation 0.5s ease forwards;
}

.detalle-card h2 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 3rem;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 0.5rem;
  color: whitesmoke;
}

.detalle-card p,
.detalle-card li {
  margin: 0.8rem 70px;
  margin-left: 95px;
  color: whitesmoke;
}

.detalle-card ul {
  list-style: none;
  padding: 0;
}

.detalle-card li {
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem 0;
}

.detalle-card strong {
  display: inline-block;
  width: 100px;
}

.detalle-card button {
  display: block;
  margin: 1rem auto 0;
  margin-top: 30px;
  padding: 0.5rem 1rem;
  background-color: var(--rojo1);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detalle-card button:hover {
  background-color: var(--rojo2);
}

.detalle-card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: -40px;
}

.table-card-dashboard {
  width: 100%;
  overflow: hidden;
  color: whitesmoke;
  margin-top: auto;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-right: auto;
}

.table-card-dashboard p {
  margin: 0.8rem 70px;
  margin-left: auto;
  font-weight: bold;
  font-size: 24px;
  color: whitesmoke;
}

.table-card-dashboard table {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  border-radius: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.table-card-dashboard table th,
.table-card-dashboard table td {
  padding: 2px;
  background-color: #5c1422;
  transition: background-color 0.3s;
}

.table-card-dashboard table tbody td {
  text-align: center;
}

.table-card-dashboard table tr:nth-child(odd) td {
  background-color: #4d0f29;
}

.table-card-dashboard table tr:hover td {
  background-color: #5e1634;
}