@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.Bg-Img {
    background: linear-gradient(180deg, #22214a 50%, #1f1e44e1 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-form {
    width: 370px; /* Ajustar ancho del formulario */
    height: 650px; /* Ajustar altura automáticamente */
    margin-bottom: 0px;
    background-color: rgba(31, 30, 68, 0.9);
    padding: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    border: 1px solid rgba(31, 30, 68, 0.9);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.login-form h2 {
    margin-bottom: 20px; /* Ajustar el margen inferior */
    font-size: 25px; /* Ajustar el tamaño de la fuente */
    color: whitesmoke;
    font-weight: bold;
}

.logo-img {
    width: 250px; /* Ajustar el ancho del logo */
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    margin-top: 15px;
    padding: 10px; /* Ajustar el padding */
    font-size: 10px; /* Ajustar el tamaño de la fuente */
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    color: rgb(31, 30, 68);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form label {
    position: absolute;
    top: 66%;
    left: 15px;
    transform: translateY(-50%);
    background-color: transparent;
    color: rgb(31, 30, 68);
    padding: 0 5px;
    font-size: 11px; /* Ajustar el tamaño de la fuente */
    transition: 0.3s;
    pointer-events: none;
}

.info p {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px; /* Ajustar el margen inferior */
    font-size: 12px; /* Ajustar el tamaño de la fuente */
}

.login-form input:focus+label,
.login-form input:not(:placeholder-shown)+label {
    top: 8px;
    left: 4px;
    font-size: 10px;
    color: whitesmoke;
}

.toggle-password {
    position: relative;
}

.toggle-password i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.login-form button {
    width: 100%;
    padding: 10px; /* Ajustar el padding */
    background-color: #5383E8;
    color: white;
    font-weight: bold;
    font-size: 10px; /* Ajustar el tamaño de la fuente */
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #3a70e4;
}

.links {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    color: whitesmoke;
}

.nav-links2 {
    color: whitesmoke;
    padding-left: 4px;
    font-weight: bold;
    text-decoration: none;
}

.custom-alert {
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}
